article {
  width: calc((100% - 64px) / 5);
  padding: 0 16px;
  cursor: pointer;
}

article .avatar {
  display: flex;
  align-items: center;
  padding: 10px;
}

article .avatar img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

article .avatar span {
  color: #999;
  font-size: 12px;
}

article > a > img {
  height: 360px;
  width: 100%;
  object-fit: cover;
}

article .details {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.details span:first-child {
  font-size: 14px;
}

.details span:not(:first-child) {
  font-size: 12px;
  color: #999;
}
