.checkout-form button {
  margin-top: 20px;
  background: #00bb6a;
  border: none;
  color: white;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-form button:hover {
  opacity: 0.8;
}
